<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login via Moodle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form class="list" [formGroup]="loginForm" (ngSubmit)="test_moodle(moodle.value, moodlePass.value)">
  <ion-item>
    <ion-label stacked>Moodle ID</ion-label>
    <ion-input #moodle [value]="moodleID" formControlName="moodleName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input #moodlePass [value]="moodlePassword" formControlName="moodleSecret" type="password"></ion-input>
  </ion-item>
  <button type="submit" ion-button>Login</button>
</form>

</ion-content>
