<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DHBW Mannheim</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card *ngFor="let p of pages" (click)="openPage(p)">
    <img *xs src="assets/img/xs/{{p.image}}"/>
    <img *s src="assets/img/s/{{p.image}}"/>
    <img *sm src="assets/img/sm/{{p.image}}"/>
    <img *m src="assets/img/m/{{p.image}}"/>
    <img *md src="assets/img/md/{{p.image}}"/>
    <img *d src="assets/img/d/{{p.image}}"/>
    <img *lg src="assets/img/lg/{{p.image}}"/>
    <img *l src="assets/img/l/{{p.image}}"/>
    <img *xl src="assets/img/{{p.image}}"/>
    <!--<img-loader src={{p.image}}></img-loader>-->
    <!--<ion-img src={{p.image}}></ion-img>-->
    <div class="card-title">{{p.title}}</div>
    <div class="card-subtitle">{{p.subtitle}}</div>
  </ion-card>
</ion-content>
