<!--
Generated template for the Lectures page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Lectures</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-segment>
      <ion-segment-button value="left-arrow" (ionSelect)="goToPrevWeek()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-segment-button>
     <ion-segment-button value="today" class="today" (ionSelect)="showCurrentWeek()">
       Heute
     </ion-segment-button>
     <ion-segment-button value="right-arrow" (ionSelect)="goToNextWeek()">
       <ion-icon name="arrow-dropright-circle"></ion-icon>
     </ion-segment-button>
  </ion-segment>

  <ion-slides (ionSlideDidChange)="updateView()">
    <ion-slide *ngFor="let week of slideNumbers">
  <ion-card *ngFor="let day of weekEvents; let i = index">
    <ion-card-header>
      {{i | weekday:[currentYear,currentWeek] }}
    </ion-card-header>
      <ion-list *ngFor="let entry of day">
        <ion-list-header>
          {{entry.summary}}
        </ion-list-header>
          <ion-item>
            <h2>{{entry.start | date:'HH:mm'}} - {{entry.end | date:'HH:mm'}}</h2>
            <p>{{entry.location}}</p>
          </ion-item>
      </ion-list>
  </ion-card>
</ion-slide>
</ion-slides>
</ion-content>
