<ion-searchbar [placeholder]="placeholder" [(ngModel)]="searchInput" [showCancelButton]="true" (ionInput)="filterElements($event)"  [disabled]="elements.length===0">
</ion-searchbar>
<button ion-item *ngFor="let element of filteredElements" (click)="setElement(element)">
  <h2> {{ element.label }} </h2>
  <h3> Code: <strong>{{ element.id }}</strong> </h3>
</button>
