<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <mysearchbar [placeholder]="'Kursname'" [selectedLabel]="kursLabel" [elements]="kurse" (select)="setKurs($event)">
    </mysearchbar>
    <ion-item>
      <ion-label stacked>KursID</ion-label>
      <ion-input #kurs [(ngModel)]="kursID" type="text" (blur)="saveKurs()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list #standort radio-group>
    <ion-list-header>
      Standort
    </ion-list-header>
    <ion-item *ngFor="let location of this.locations">
      <ion-label>{{location.title}}</ion-label>
      <ion-radio [checked]="location.selected" (ionSelect)="saveLocation(location.name)"></ion-radio>
    </ion-item>
  </ion-list>
  <mysearchbar [placeholder]="'Heimat Haltestelle'" [selectedLabel]="stationLabel" [elements]="stations" (select)="setStation($event)">
  </mysearchbar>

</ion-content>
