// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;
  overflow:hidden;
}
#avatar-item {
  top: 0;
  position: absolute;
  background-color: rgba(0,0,0,0);
}
#avatar {
  border-radius: 50%;
}
.wrapping-item {
    overflow: initial;
    white-space: initial;
}
$menu-md-background: blue;
.toolbar-md {
    padding: 0;
  }
.toolbar-content-md{
  height: 100%;
}
//Material bar
#material-header{
  height: 15%;
  position: relative;
  background-color: transparent;
}
#material-toolbar{
  height: 100%;
}
#material-content {
  position: relative;
}
//Doesnt help
#material-content > div {
  margin-top: 0px !important;
}
//background-size passt nict
#background-placeholder {
  height: 100%;
  background-image: url("../assets/img/dhbw.jpg");
  background-size: auto auto;
}
