  <!-- <ion-split-pane>
  <!  side menu style='background-image: url("assets/img/avatar.png"); background-size: auto 100%;' -->
  <ion-menu [content]="content">
    <ion-header id="material-header">
      <ion-toolbar id="material-toolbar" (click)='openLogin()'>
        <ion-item id="avatar-item" no-lines>
          <b style="color: white;">{{personname}}</b>
          <!--<ion-avatar> <img id="avatar" src="assets/img/avatar.png"></ion-avatar>-->
        </ion-item>
        <img id="dhbw" src="assets/img/dhbw.jpg">
      </ion-toolbar>
    </ion-header>

    <ion-content id="material-content">
      <ion-list no-lines>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main content -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
  <!-- </ion-split-pane>-->
