<!--
  Generated template for the PublicTransport page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Öffenliche Verkehrsmittel</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)] = "selectedSegment">
      <ion-segment-button *ngFor="let segment of this.segments; let i=Index" value = {{segment.name}} >
        {{segment.label}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let departure of rnv">
    <ion-card-header>
      {{departure.lineLabel}} - Richtung {{departure.direction}}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>Abfahrt: {{departure.time}}</ion-col>
          <ion-col col-6>Bahnsteig: {{departure.platform}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
