<!--
  Generated template for the Canteen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mensa</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let day of menueTable; let i = index">
      <ion-segment>
        <ion-segment-button value="left-arrow" (ionSelect)="previousDay()">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="weekday" class="weekday">
          {{weekdays[i]}}
        </ion-segment-button>
        <ion-segment-button value="right-arrow" (ionSelect)="nextDay()">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <ion-card>
        <ion-list *ngFor="let dish of day; let i=index">
          <ion-list-header class="menu-header">
            Menu {{i+1}}
          </ion-list-header>
          <ion-item>
            <p class="wrapping-item">{{dish.menu}}</p>
            <p class="price">{{dish.price}}</p>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
