page-canteen {
  .price, .menu-header{
    font-weight: bold;
  }
  ion-segment-button.weekday.segment-button{
    font-weight: bold;
    font-size: large;
  }
  ion-slides {
        height: initial;
  }
}
